* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background-color: cornflowerblue;
  font-family: "Poppins", sans-serif;
}

header {
  font-size: 1.5rem;
}
header h1 {
  color: white;
}

header,
form {
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}

form button {
  color: rgb(95, 95, 165);
  background: white;
  cursor: pointer;
  transition: all 0.3 ease;
}

form button:hover {
  background: rgb(95, 95, 165);
  color: white;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background: #ff6f47;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background: rgba(73, 204, 73);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  /* SERVE PARA DESABILITAR O CLICK DO ICONE E TORNAR O BOTÃO 1 SÓ */
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}
